


# build folder

build
doc/build/*
paper/auto/*
material/auto/*
model_plugin/build/*



GPATH
GRTAGS
GTAGS

config.*
._*
*.log
*.dvi
*.pdf
*.bbl
*.jpg
*.blg
*.aux
*.cls

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out

#emacs generated directories and files
.dir-locals.el
